<article class="content">
  <section class="section">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="card-title-block">
            <h3 class="title">
              Dashboard
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
